<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->

<footer id="footer" class="bg-one">
  <div class="container">
      <div class="row wow fadeInUp" data-wow-duration="500ms">
      <div class="col-lg-12">

        <!-- Footer Social Links -->
        <div class="social-icon">
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
        <!--/. End Footer Social Links -->

        <!-- copyright -->
        <div class="copyright text-center">
          {{ site.title }}
          <br />

          <p>Copyright &copy; 2016. All Rights Reserved.</p>
        </div>
        <!-- /copyright -->

      </div> <!-- end col lg 12 -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</footer> <!-- end footer -->

<!-- Back to Top
============================== -->
<a href="javascript:;" id="scrollUp">
  <i class="fa fa-angle-up fa-2x"></i>
</a>

<!-- end Footer Area
========================================== -->
