<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head> -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meghna One page parallax responsive HTML Template ">

    <meta name="author" content="Muhammad Morshed">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<!-- Mobile Specific Meta
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />

<!-- CSS
================================================== -->
<!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
<!-- bootstrap.min css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
<!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
<!-- Grid Component css -->
    <link rel="stylesheet" href="css/component.css">
<!-- Slit Slider css -->
    <link rel="stylesheet" href="css/slit-slider.css">
<!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
<!-- Media Queries -->
    <link rel="stylesheet" href="css/media-queries.css">

<!--
Google Font
=========================== -->

<!-- Oswald / Title Font -->
<link href='http://fonts.useso.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
<!-- Ubuntu / Body Font -->
<link href='http://fonts.useso.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

<!-- Modernizer Script for old Browsers -->
    <script src="js/modernizr-2.6.2.min.js"></script>




</head>
